In [1]:
import sqlite3 # импортируем библиотеку по работе с базой данных
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db') #создаем переменную подключения к БД
    cursor = sqlite_connection.cursor() #создаем специальную переменную по работе с БД
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "SELECT sqlite_version();" #пишем запрос получение версии библиотеки sqlite 
    cursor.execute(sqlite_select_query) #выполняем запрос, после чего в буфере содержится текст результата
    record = cursor.fetchall() #читаем все содержимое буфера в переменную record
    print("Версия базы данных SQLite: ", record)
    cursor.close() #закрываем курсор по работе с БД

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error) # если при попытке подключения к БД возникли ошибки, выводим их
finally:
    if (sqlite_connection):
        sqlite_connection.close() #если соединение с БД открыто, закрываем его
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.43.1',)]
Соединение с SQLite закрыто

In [2]:
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
# Создаем sql-запросы на создание таблиц, записываем для удобства их в переменные с одноименным названием
    periodList = 'CREATE TABLE periodList (id INTEGER PRIMARY KEY NOT NULL, period VARCHAR(30) NOT NULL);'
    categoryList = 'CREATE TABLE categoryList (id INTEGER PRIMARY KEY NOT NULL, category VARCHAR(30) NOT NULL);'
    actionList = 'CREATE TABLE actionList (id INTEGER PRIMARY KEY NOT NULL, action VARCHAR(30) NOT NULL);'
    keywordList = 'CREATE TABLE keywordList (id INTEGER PRIMARY KEY NOT NULL, keyword VARCHAR(30) NOT NULL);'
    
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(periodList)
    sqlite_connection.commit()
    print("Таблица periodList создана")

    cursor.execute(categoryList)
    sqlite_connection.commit()
    print("Таблица categoryList создана")

    cursor.execute(actionList)
    sqlite_connection.commit()
    print("Таблица actionList создана")
    
    cursor.execute(keywordList)
    sqlite_connection.commit()
    print("Таблица keywordList создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица periodList создана
Таблица categoryList создана
Таблица actionList создана
Таблица keywordList создана
Соединение с SQLite закрыто

In [3]:
# Заполнение таблицы periodList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_periodList = '''INSERT INTO periodList (id, period) VALUES
                        (1, 'Ежемесячно'),
                        (2, 'Ежеквартально'),
                        (3, 'Ежегодно');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_periodList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [4]:
# Заполнение таблицы periodList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_categoryList = '''INSERT INTO categoryList (id, category) VALUES
                        (1, 'Активный гражданин'),
                        (2, 'Выборы'),
                        (3, 'Дороги и транспорт'),
                        (4, 'Жилищно-коммунальное хозяйство'),
                        (5, 'Здравоохранение'),
                        (6, 'Культура'),
                        (7, 'Общественное питание'),
                        (8, 'Пешеходная инфраструктура'),
                        (9, 'Религиозные объекты'),
                        (10, 'Социальная среда'),
                        (11, 'Строительство'),
                        (12, 'Торговля'),
                        (13, 'Безопасность'),
                        (14, 'Государственные услуги'),
                        (15, 'Досуг и отдых'),
                        (16, 'Забота о животных'),
                        (17, 'Земля и имущество'),
                        (18, 'Образование'),
                        (19, 'Органы государственной власти'),
                        (20, 'Предпринимательство'),
                        (21, 'Связь'),
                        (22, 'Справочная информация'),
                        (23, 'Территориальное деление'),
                        (24, 'Трудоустройство');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_categoryList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [5]:
# Заполнение таблицы periodList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_actionList = '''INSERT INTO actionList (id, action) VALUES
                        (1, 'Опубликован'),
                        (2, 'Архивирован'),
                        (3, 'Изъят из публичного доступа');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_actionList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [6]:
# Заполнение таблицы keywordList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_keywordList = '''INSERT INTO keywordList (id, keyword) VALUES
                        (1, 'Зимние'),
                        (2, 'Летние'),
                        (3, 'Всесезонные');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_keywordList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [7]:
#Функция реализует запрос на чтение к базе данных
import sqlite3
def query_sql (db, query):
  sqlite_connection = sqlite3.connect(db)
  cursor = sqlite_connection.cursor()
  cursor.execute(query)
  sqlite_connection.commit()
  rows = cursor.fetchall()
  names = tuple(map(lambda x: x[0], cursor.description))
  cursor.close()
  sqlite_connection.close()
  import pandas as pd
  import numpy as np
  aa=np.array(rows)
  dd=pd.DataFrame(aa, columns=names)
  display(dd)

In [8]:
query_sql('shumskiiIN.db','SELECT * FROM periodList;')
query_sql('shumskiiIN.db','SELECT * FROM actionList;')
query_sql('shumskiiIN.db','SELECT * FROM categoryList;')
query_sql('shumskiiIN.db','SELECT * FROM keywordList;')

  id         period
0  1     Ежемесячно
1  2  Ежеквартально
2  3       Ежегодно

  id                       action
0  1                  Опубликован
1  2                  Архивирован
2  3  Изъят из публичного доступа

    id                        category
0    1              Активный гражданин
1    2                          Выборы
2    3              Дороги и транспорт
3    4  Жилищно-коммунальное хозяйство
4    5                 Здравоохранение
5    6                        Культура
6    7            Общественное питание
7    8       Пешеходная инфраструктура
8    9             Религиозные объекты
9   10                Социальная среда
10  11                   Строительство
11  12                        Торговля
12  13                    Безопасность
13  14          Государственные услуги
14  15                   Досуг и отдых
15  16               Забота о животных
16  17               Земля и имущество
17  18                     Образование
18  19   Органы государственной власти
19  20             Предпринимательство
20  21                           Связь
21  22           Справочная информация
22  23         Территориальное деление
23  24                 Трудоустройство

  id      keyword
0  1       Зимние
1  2       Летние
2  3  Всесезонные

In [9]:
#обработчик событий
def query_sql (db, query, visible = True):
  import sqlite3
  sqlite_connection = sqlite3.connect(db)
  cursor = sqlite_connection.cursor()
  cursor.execute(query)
  sqlite_connection.commit()
  if visible:
    rows = cursor.fetchall()
    names = tuple(map(lambda x: x[0], cursor.description))
    import pandas as pd
    import numpy as np
    aa=np.array(rows)
    dd=pd.DataFrame(aa, columns=names)
    return dd
  cursor.close()
  sqlite_connection.close()

In [10]:
#Посмотреть список всех таблиц в базе данных
query_sql('shumskiiIN.db','SELECT name FROM sqlite_master WHERE type=\'table\';')

           name
0    periodList
1  categoryList
2    actionList
3   keywordList

# Создание основных таблиц

In [11]:
#создание таблицы authority
query_sql('shumskiiIN.db','''
    CREATE TABLE authority (id INTEGER PRIMARY KEY NOT NULL, 
                            name VARCHAR(50) NOT NULL,
                            shortName VARCHAR(30),
                            firstName VARCHAR(15) NOT NULL,
                            lastName VARCHAR(15) NOT NULL,
                            middleName VARCHAR(20), 
                            email VARCHAR(30) NOT NULL,
                            tel INTEGER NOT NULL,
                            domain VARCHAR(30) NOT NULL,
                            street VARCHAR(30) NOT NULL,
                            home INTEGER NOT NULL,
                            block INTEGER,
                            INN INTEGER NOT NULL,
                            KPP INTEGER NOT NULL,
                            OKOGU INTEGER NOT NULL);
                            
            ''', False)

In [12]:
#создание табдицы worker
query_sql('shumskiiIN.db','''
    CREATE TABLE worker (id INTEGER PRIMARY KEY NOT NULL, 
                         firstName VARCHAR(15) NOT NULL,
                         lastName VARCHAR(15) NOT NULL,
                         middleName VARCHAR(20), 
                         dateBirth VARCHAR(10) NOT NULL,
                         position VARCHAR(30) NOT NULL,
                         email VARCHAR(30) NOT NULL,
                         tel INTEGER NOT NULL,
                         authorityID INTEGER NOT NULL REFERENCES authority (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION);
                                                      
            ''', False)

In [13]:
#создание таблицы log
query_sql('shumskiiIN.db','''
    CREATE TABLE log (id INTEGER PRIMARY KEY NOT NULL, 
                      actionID INTEGER NOT NULL REFERENCES actionList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION,
                      date VARCHAR(10) NOT NULL,
                      workerID INTEGER NOT NULL REFERENCES worker (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION,
                      GIS INTEGER NOT NULL,
                      dataSetID INTEGER NOT NULL REFERENCES dataSet (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION, 
                      urlXLSX VARCHAR(80),
                      urlJSON VARCHAR(80),
                      urlCSV VARCHAR(80),
                      urlXML VARCHAR(80));
            ''', False)

In [14]:
#создание таблицы dataSet
query_sql('shumskiiIN.db','''
    CREATE TABLE dataSet (id INTEGER PRIMARY KEY NOT NULL,
                         name VARCHAR(40) NOT NULL,
                         keywordID INTEGER NOT NULL REFERENCES keywordList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION,
                         categoryID INTEGER NOT NULL REFERENCES categoryList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION, 
                         rating REAL NOT NULL,
                         downloadCounter INTEGER NOT NULL,
                         periodID INTEGER NOT NULL REFERENCES periodList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION);
          ''', False)

In [15]:
#Посмотреть список всех таблиц в базе данных
query_sql('shumskiiIN.db','SELECT name FROM sqlite_master WHERE type=\'table\';')

           name
0    periodList
1  categoryList
2    actionList
3   keywordList
4     authority
5        worker
6           log
7       dataSet

In [16]:
from ipywidgets import widgets
from IPython.display import clear_output
style = {'description_width': 'initial'}
list_tables_button = widgets.Button(description="Cписок таблиц", style = style)

output = widgets.Output()
print('Заполнение списка таблиц БД')
display(list_tables_button,output)

def on_list_button_clicked(b):
    with output:
        clear_output()
        display(query_sql('shumskiiIN.db','SELECT name FROM sqlite_master WHERE type=\'table\';'))
    
list_tables_button.on_click(on_list_button_clicked)

Заполнение списка таблиц БД

Button(description='Cписок таблиц', style=ButtonStyle())

Output()

# Создание экранных форм

In [17]:
#authority-form
import ipywidgets as widgets #Подключаем библиотеку виджетов
from IPython.display import display # импортируем функцию для визуализации виджетов

style = {'description_width': 'initial'} #Делаем установку ширины поля discription под размер текста в нем
id = widgets.IntText(value=1, description='id:', disabled=False)
name = widgets.Text(value='Название ОИВ', description='Наименование:', disabled=False)
shortName = widgets.Text(value='Сокращенное название', description='Сокращенное наименование:', disabled=False)
lastName = widgets.Text(value='Иванов', description='Фамилия:', disabled=False)
firstName = widgets.Text(value='Иван', description='Имя:', disabled=False)
middleName = widgets.Text(value='Иванович', description='Отчество:', disabled=False)
email = widgets.Text(value='sample@mos.ru', description='E-mail:', disabled=False)
tel = widgets.IntText(value=79123456789, description='Номер телефона:', disabled=False, style=style)
domain = widgets.Text(value='mos.ru', description='Домен:', disabled=False)
street = widgets.Text(value='Тверская', description='Улица:', disabled=False)
home = widgets.IntText(value=13, description='Номер дома:', disabled=False, style=style)
block = widgets.IntText(value=1, description='Строение/корпус:', disabled=False, style=style)
INN = widgets.IntText(value=770000000000, description='ИНН:', disabled=False)
KPP = widgets.IntText(value=770000000, description='КПП:', disabled=False)
OKOGU = widgets.IntText(value=770000000, description='ОКГУ:', disabled=False)
button = widgets.Button(description='Записать в  БД', disabled=False, button_style='')
print('Заполнение таблицы authority')
display(id, name, shortName, lastName, firstName, middleName, email, tel, domain, street, home, block, INN, KPP, OKOGU, button)

def button_clicked(b):
    query = '''INSERT INTO authority (id, name, shortName, lastName, firstName, middleName, email, tel,
    domain, street, home, block, INN, KPP, OKOGU) VALUES '''
    
    query += '(' + str(id.value) + ',' + '\''+ name.value + '\'' + ',' + '\''+ shortName.value + '\'' + ','
    query += '\''+ lastName.value + '\'' + ',' + '\''+ firstName.value + '\'' + ','
    query += '\'' + middleName.value + '\'' + ',' + '\''+ email.value + '\'' + ',' + str(tel.value) + ','
    query += '\'' + domain.value + '\'' + ',' + '\''+ street.value + '\'' + ',' + str(home.value) + ','
    query += str(block.value) + ',' + str(INN.value) + ',' + str(KPP.value) + ',' + str(OKOGU.value) + ');'
    print(query_sql)
    query_sql('shumskiiIN.db', query, False)


button.on_click(button_clicked)

Заполнение таблицы authority

IntText(value=1, description='id:')

Text(value='Название ОИВ', description='Наименование:')

Text(value='Сокращенное название', description='Сокращенное наименование:')

Text(value='Иванов', description='Фамилия:')

Text(value='Иван', description='Имя:')

Text(value='Иванович', description='Отчество:')

Text(value='sample@mos.ru', description='E-mail:')

IntText(value=79123456789, description='Номер телефона:', style=DescriptionStyle(description_width='initial'))

Text(value='mos.ru', description='Домен:')

Text(value='Тверская', description='Улица:')

IntText(value=13, description='Номер дома:', style=DescriptionStyle(description_width='initial'))

IntText(value=1, description='Строение/корпус:', style=DescriptionStyle(description_width='initial'))

IntText(value=770000000000, description='ИНН:')

IntText(value=770000000, description='КПП:')

IntText(value=770000000, description='ОКГУ:')

Button(description='Записать в  БД', style=ButtonStyle())

In [18]:
#worker-form
import ipywidgets as widgets #Подключаем библиотеку виджетов
from IPython.display import display # импортируем функцию для визуализации виджетов

style = {'description_width': 'initial'} #Делаем установку ширины поля discription под размер текста в нем
id = widgets.IntText(value=1, description='id:', disabled=False)
lastName = widgets.Text(value='Иванов', description='Фамилия:', disabled=False)
firstName = widgets.Text(value='Иван', description='Имя:', disabled=False)
middleName = widgets.Text(value='Иванович', description='Отчество:', disabled=False)
dateBirth = widgets.DatePicker(description='Дата рождения:', disabled=False, style=style)
email = widgets.Text(value='sample@mos.ru', description='E-mail:', disabled=False)
tel = widgets.IntText(value=79123456789, description='Номер телефона:', disabled=False, style=style)
R=query_sql('shumskiiIN.db','select * from authority;')
authorityID=widgets.Dropdown(
    options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Организация:',
    disabled=False
)
position = widgets.Text(value='Ведущий специалист', description='Должность:', disabled=False)


button = widgets.Button(description='Записать в  БД', disabled=False, button_style='')
print('Заполнение таблицы worker')
display(id, lastName, firstName, middleName, dateBirth, email, tel, authorityID, position, button)

def button_clicked(b):
    query = '''INSERT INTO worker (id, lastName, firstName, middleName,
    dateBirth, email, tel, authorityID, position) VALUES '''
    
    query += '(' + str(id.value) + ',' + '\''+ lastName.value + '\'' + ',' + '\''+ firstName.value + '\'' + ','
    query += '\'' + middleName.value + '\'' + ',' +  str(dateBirth.value) + ',' + '\''+ email.value + '\'' + ',' 
    query += str(tel.value) + ',' + str(authorityID.value) + ',' + '\''+ position.value + '\');'
    print(query_sql)
    query_sql('shumskiiIN.db', query, False)
    
    
button.on_click(button_clicked)

Заполнение таблицы worker

C:\Users\event\AppData\Local\Temp\ipykernel_14940\3076045597.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],

IntText(value=1, description='id:')

Text(value='Иванов', description='Фамилия:')

Text(value='Иван', description='Имя:')

Text(value='Иванович', description='Отчество:')

DatePicker(value=None, description='Дата рождения:', step=1, style=DescriptionStyle(description_width='initial…

Text(value='sample@mos.ru', description='E-mail:')

IntText(value=79123456789, description='Номер телефона:', style=DescriptionStyle(description_width='initial'))

Dropdown(description='Организация:', options=(('Название ОИВ', 1),), value=1)

Text(value='Ведущий специалист', description='Должность:')

Button(description='Записать в  БД', style=ButtonStyle())

In [19]:
#dataSet-form
import ipywidgets as widgets #Подключаем библиотеку виджетов
from IPython.display import display # импортируем функцию для визуализации виджетов

style = {'description_width': 'initial'} #Делаем установку ширины поля discription под размер текста в нем
id = widgets.IntText(value=1, description='id:', disabled=False)
name = widgets.Text(value='Название набора:', description='Наименование:', disabled=False)

R=query_sql('shumskiiIN.db','select * from categoryList;')
categoryID=widgets.Dropdown(
    options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Категория:',
    disabled=False
)

R=query_sql('shumskiiIN.db','select * from keywordList;')
keywordID=widgets.Dropdown(
    options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Ключевое слово:',
    disabled=False
)

R=query_sql('shumskiiIN.db','select * from periodList;')
periodID=widgets.Dropdown(
    options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Период актуализации:',
    disabled=False
)
rating = widgets.FloatSlider(value=5.5, min=0, max=10.0, step=0.1, description='Рейтинг:', disabled=False, continuous_update=False, orientation='horizontal', readout=True, readout_format='.1f')
downloadCounter = widgets.IntText(value=10, description='Количество скачиваний', disabled=False, style=style)


button = widgets.Button(description='Записать в  БД', disabled=False, button_style='')
print('Заполнение таблицы dataSet')
display(id, name, categoryID, keywordID, periodID, rating, downloadCounter, button)

def button_clicked(b):
    query = '''INSERT INTO dataSet (id, name, categoryID, keywordID, periodID, rating, downloadCounter) VALUES '''
    
    query += '(' + str(id.value) + ',' + '\''+ name.value + '\'' + ',' 
    query += str(categoryID.value) + ',' + str(keywordID.value) + ',' + str(periodID.value) + ',' 
    query += str(rating.value) + ',' + str(downloadCounter.value) + ');'
    print(query_sql)
    query_sql('shumskiiIN.db', query, False)
    
    
button.on_click(button_clicked)

Заполнение таблицы dataSet

C:\Users\event\AppData\Local\Temp\ipykernel_14940\4280350297.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
C:\Users\event\AppData\Local\Temp\ipykernel_14940\4280350297.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
C:\Users\event\AppData\Local\Temp\ipykernel_14940\4280350297.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],

IntText(value=1, description='id:')

Text(value='Название набора:', description='Наименование:')

Dropdown(description='Категория:', options=(('Активный гражданин', 1), ('Выборы', 2), ('Дороги и транспорт', 3…

Dropdown(description='Ключевое слово:', options=(('Зимние', 1), ('Летние', 2), ('Всесезонные', 3)), value=1)

Dropdown(description='Период актуализации:', options=(('Ежемесячно', 1), ('Ежеквартально', 2), ('Ежегодно', 3)…

FloatSlider(value=5.5, continuous_update=False, description='Рейтинг:', max=10.0, readout_format='.1f')

IntText(value=10, description='Количество скачиваний', style=DescriptionStyle(description_width='initial'))

Button(description='Записать в  БД', style=ButtonStyle())

In [20]:
#log-form
import ipywidgets as widgets #Подключаем библиотеку виджетов
from IPython.display import display # импортируем функцию для визуализации виджетов

style = {'description_width': 'initial'} #Делаем установку ширины поля discription под размер текста в нем
id = widgets.IntText(value=1, description='id:', disabled=False)

R=query_sql('shumskiiIN.db','select * from actionList;')
actionID=widgets.Dropdown(
    options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Действие:',
    disabled=False
)

date = widgets.DatePicker(description='Дата:', disabled=False, style=style)

R=query_sql('shumskiiIN.db','select * from worker;')
workerID=widgets.Dropdown(
   options=[tuple([R.iloc[i][2] + ' ' + R.iloc[i][1] + ' ' + R.iloc[i][3], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Сотрудник:',
    disabled=False
)

GIS = widgets.IntText(value=1, description='ИД ГИС:', disabled=False)

R=query_sql('shumskiiIN.db','select * from dataSet;')
dataSetID=widgets.Dropdown(
    options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
    value = 1,
    description='Набор данных:',
    disabled=False
)

 
urlXLSX = widgets.Text(value='//localhost:8888/', description='XLSX-формат:', disabled=False)
urlJSON = widgets.Text(value='//localhost:8888/', description='JSON-формат:', disabled=False)
urlCSV = widgets.Text(value='//localhost:8888/', description='CSV-формат:', disabled=False)
urlXML = widgets.Text(value='//localhost:8888/', description='XML-формат:', disabled=False)


button = widgets.Button(description='Записать в  БД', disabled=False, button_style='')
print('Заполнение таблицы dataSet')
display(id, dataSetID, workerID, actionID, date, GIS, urlXLSX, urlJSON, urlCSV, urlXML, button)

def button_clicked(b):
    query = '''INSERT INTO log (id, dataSetID, workerID, actionID, date, GIS, urlXLSX, urlJSON, urlCSV, urlXML) VALUES '''
    
    query += '(' + str(id.value) + ',' + str(dataSetID.value) + ',' 
    query += str(workerID.value) + ',' + str(actionID.value) + ',' +  str(date.value) + ',' + str(GIS.value) + ',' 
    query += '\''+ urlXLSX.value + '\'' + ',' + '\''+ urlJSON.value + '\'' + ','
    query += '\''+ urlCSV.value + '\'' + ',' + '\''+ urlXML.value + '\'' + ');'
    print(query_sql)
    query_sql('shumskiiIN.db', query, False)
    
    
button.on_click(button_clicked)

Заполнение таблицы dataSet

C:\Users\event\AppData\Local\Temp\ipykernel_14940\3459996712.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],
C:\Users\event\AppData\Local\Temp\ipykernel_14940\3459996712.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][2] + ' ' + R.iloc[i][1] + ' ' + R.iloc[i][3], int(R.iloc[i][0])]) for i in range(len(R['id']))],
C:\Users\event\AppData\Local\Temp\ipykernel_14940\3459996712.py:30: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  options=[tuple([R.iloc[i][1], int(R.iloc[i][0])]) for i in range(len(R['id']))],

IntText(value=1, description='id:')

Dropdown(description='Набор данных:', options=(('Название набора:', 1),), value=1)

Dropdown(description='Сотрудник:', options=(('Иванов Иван Иванович', 1),), value=1)

Dropdown(description='Действие:', options=(('Опубликован', 1), ('Архивирован', 2), ('Изъят из публичного досту…

DatePicker(value=None, description='Дата:', step=1, style=DescriptionStyle(description_width='initial'))

IntText(value=1, description='ИД ГИС:')

Text(value='//localhost:8888/', description='XLSX-формат:')

Text(value='//localhost:8888/', description='JSON-формат:')

Text(value='//localhost:8888/', description='CSV-формат:')

Text(value='//localhost:8888/', description='XML-формат:')

Button(description='Записать в  БД', style=ButtonStyle())

# Построение типовых запросов на выборку данных

In [2]:
#Расчитать количество департементов, чьи наборы скачали более 2000 раз
query_sql('shumskiiin.db', '''SELECT COUNT(authority.id) as 'Total' 
                             FROM authority, worker, dataSet, log
                             WHERE authority.name LIKE "%Департамент%" AND
                             worker.authorityID = authority.ID AND
                             log.workerID = worker.id AND
                             log.dataSetID = dataSet.id AND
                             dataSet.downloadCounter > 2000;
                          '''
         )

   Total
0     52

In [7]:
#Получить список сотрудников, чьи наборы данных имеют рейтинг от 7.00 до 10.00
query_sql('shumskiiin.db', '''SELECT worker.lastName, worker.firstName, worker.middleName  
                             FROM worker, dataSet, log
                             WHERE worker.id = log.workerID AND
                             log.dataSetID = dataSet.id AND
                             dataSet.rating BETWEEN 7.0 AND 10.0;
                          '''
         )

      lastName  firstName     middleName
0     Гордеева     Полина     Данииловна
1     Никулина      Мария      Денисовна
2    Прокофьев      Данил     Михайлович
3      Колесов  Александр     Тимофеевич
4    Филиппова   Виктория     Родионовна
..         ...        ...            ...
225   Селезнев  Александр     Викторович
226    Новиков   Владимир  Александрович
227   Кузнецов     Максим       Егорович
228    Иванова      Олеся     Максимовна
229     Титова      Софья      Матвеевна

[230 rows x 3 columns]

In [4]:
#Получить список наборов, которые содержат ключевые слова летний или зимний
query_sql('shumskiiin.db', '''SELECT dataSet.name, keywordList.keyword
                              FROM dataSet, keywordList
                              WHERE dataSet.keywordID = keywordList.id AND 
                              keywordList.keyword IN ('Зимние', 'Летние');
                          '''
         )

                                        name keyword
0    Смежные маршруты пассажирских перевозок  Летние
1    Патологоанатомические отделения (морги)  Летние
2    Площадки для выгула (дрессировки) собак  Зимние
3    Места проведения фестиваля «Круг света»  Летние
4    Места для занятий скандинавской ходьбой  Летние
..                                       ...     ...
277                                   Газоны  Зимние
278                                    Мосты  Зимние
279                                    Музеи  Летние
280                                     Бары  Летние
281                                     Кафе  Летние

[282 rows x 2 columns]

In [15]:
#Рассчитать суммарное кол-во скачиваний в разрезе ОИВ
query_sql('shumskiiin.db', '''SELECT authority.name, SUM(dataSet.downloadCounter)
                              FROM authority, dataSet, log, worker
                              WHERE authority.id = worker.authorityID AND
                              worker.id = log.workerID AND
                              log.dataSetID = dataSet.id
                              GROUP BY authority.name;
                          '''
         )

,name,SUM(dataSet.downloadCounter)
0,Государственная жилищная инспекция,26347
1,Государственная инспекция по контролю за испол...,24767
2,Департамент по конкурентной политике,28766
3,Департамент городского имущества,14606
4,Департамент градостроительной политики,18457
...,...,...
116,управа района Щукино,18133
117,управа района Южное Медведково,30906
118,управа района Южное Тушино,20811
119,управа района Якиманка,37655
120,управа района Ясенево,27181

In [19]:
#Рассчитать средний рейтинг наборов в разрезе ОИВ
query_sql('shumskiiin.db', '''SELECT authority.name, AVG(dataSet.rating)
                              FROM authority, dataSet, log, worker
                              WHERE authority.id = worker.authorityID AND
                              worker.id = log.workerID AND
                              log.dataSetID = dataSet.id
                              GROUP BY authority.name;
                          '''
         )

                                                  name AVG(dataSet.rating)
0                   Государственная жилищная инспекция   8.733333333333333
1    Государственная инспекция по контролю за испол...   7.766666666666667
2                Департамент  по конкурентной политике               7.775
3                     Департамент городского имущества   7.566666666666666
4               Департамент градостроительной политики                 8.0
..                                                 ...                 ...
116                               управа района Щукино   7.466666666666666
117                     управа района Южное Медведково   7.733333333333333
118                         управа района Южное Тушино  7.1000000000000005
119                             управа района Якиманка                7.75
120                              управа района Ясенево  7.3066666666666675

[121 rows x 2 columns]

In [31]:
#Рассчитать кол-во наборов на каждый ОИВ
query_sql('shumskiiin.db', '''SELECT authority.name, COUNT(dataSet.id)
                              FROM authority, dataSet, log, worker
                              WHERE authority.id = worker.authorityID AND
                              worker.id = log.workerID AND
                              log.dataSetID = dataSet.id
                              GROUP BY authority.name;
                          '''
         )

                                                  name COUNT(dataSet.id)
0                   Государственная жилищная инспекция                 3
1    Государственная инспекция по контролю за испол...                 3
2                Департамент  по конкурентной политике                 4
3                     Департамент городского имущества                 3
4               Департамент градостроительной политики                 3
..                                                 ...               ...
116                               управа района Щукино                 3
117                     управа района Южное Медведково                 3
118                         управа района Южное Тушино                 3
119                             управа района Якиманка                 4
120                              управа района Ясенево                 3

[121 rows x 2 columns]

In [32]:
#Вывести все наборы со статусом "изъят из публичного доступа"
query_sql('shumskiiin.db', '''SELECT dataSet.id, dataSet.name, actionList.action
                              FROM dataSet, log, actionList
                              WHERE dataSet.id = log.dataSetID AND
                              log.actionID = actionList.id AND
                              actionList.action = 'Изъят из публичного доступа';
                          '''
         )

      id                                  name                       action
0    342                       Залы спортивные  Изъят из публичного доступа
1    114       Перечень спортивных мероприятий  Изъят из публичного доступа
2    132         Общественное питание в Москве  Изъят из публичного доступа
3    159           Станции проката велосипедов  Изъят из публичного доступа
4     42  Виды владения транспортным средством  Изъят из публичного доступа
..   ...                                   ...                          ...
136   66    Иные объекты бытового обслуживания  Изъят из публичного доступа
137  369                         Вам, любимые!  Изъят из публичного доступа
138  276                   Wi-Fi в библиотеках  Изъят из публичного доступа
139  300                     Магазины «Одежда»  Изъят из публичного доступа
140  261                  Места летнего отдыха  Изъят из публичного доступа

[141 rows x 3 columns]

In [7]:
#Название набора и его статус
query_sql('shumskiiin.db', '''SELECT dataSet.id, dataSet.name, actionList.action
                              FROM dataSet, log, actionList
                              WHERE log.dataSetID = dataSet.id AND
                              log.actionID = actionList.id 
                              ;
                          '''
         )

      id                                  name                       action
0    268                   Типы спортивных зон                  Опубликован
1    368                         Мини-зоопарки                  Архивирован
2     50   Стоковые магазины (магазины «Сток»)                  Архивирован
3     65    Общественные пункты охраны порядка                  Архивирован
4    242                 Магазины «Дискаунтер»                  Архивирован
..   ...                                   ...                          ...
418  400                             Аквапарки                  Опубликован
419   43  Пункты регистрации домашних животных                  Опубликован
420  146         Начальная школа - детский сад                  Архивирован
421  261                  Места летнего отдыха  Изъят из публичного доступа
422  361                        Результаты ОГЭ                  Опубликован

[423 rows x 3 columns]

In [4]:
#Рассчитать кол-во наборов на каждый ОИВ (INNER JOIN)
query_sql('shumskiiin.db', '''SELECT dataSet.id, dataSet.name, actionList.action
                              FROM dataSet
                              INNER JOIN log 
                              ON dataSet.id = log.dataSetID
                              INNER JOIN actionList
                              ON log.actionID = actionList.id                           
                              ;
                          '''
         )

      id                                  name                       action
0    268                   Типы спортивных зон                  Опубликован
1    368                         Мини-зоопарки                  Архивирован
2     50   Стоковые магазины (магазины «Сток»)                  Архивирован
3     65    Общественные пункты охраны порядка                  Архивирован
4    242                 Магазины «Дискаунтер»                  Архивирован
..   ...                                   ...                          ...
418  400                             Аквапарки                  Опубликован
419   43  Пункты регистрации домашних животных                  Опубликован
420  146         Начальная школа - детский сад                  Архивирован
421  261                  Места летнего отдыха  Изъят из публичного доступа
422  361                        Результаты ОГЭ                  Опубликован

[423 rows x 3 columns]

In [8]:
#Рассчитать кол-во наборов на каждый ОИВ (lEFT JOIN)
query_sql('shumskiiin.db', '''SELECT dataSet.id, dataSet.name, actionList.action
                              FROM dataSet
                              LEFT JOIN log 
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN actionList
                              ON log.actionID = actionList.id                           
                              ;
                          '''
         )

      id                                     name                       action
0      1  Смежные маршруты пассажирских перевозок                  Опубликован
1      2  Патологоанатомические отделения (морги)                  Архивирован
2      3  Вакансии для инвалидов. Характер работы  Изъят из публичного доступа
3      4  Участковые пункты полиции города Москвы                  Опубликован
4      5  Площадки для выгула (дрессировки) собак                  Архивирован
..   ...                                      ...                          ...
418  419                                    Мосты                  Архивирован
419  420                                    Музеи  Изъят из публичного доступа
420  421                                    Лицей                  Опубликован
421  422                                     Бары                  Архивирован
422  423                                     Кафе  Изъят из публичного доступа

[423 rows x 3 columns]

In [9]:
#Рассчитать кол-во наборов на каждый ОИВ (lEFT JOIN)
query_sql('shumskiiin.db', '''SELECT dataSet.id, dataSet.name, actionList.action
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID                           
                              ;
                          '''
         )

      id                                     name                       action
0      1  Смежные маршруты пассажирских перевозок                  Опубликован
1      4  Участковые пункты полиции города Москвы                  Опубликован
2      7  Места для занятий скандинавской ходьбой                  Опубликован
3     10  Участки проявления оползневых процессов                  Опубликован
4     13  Коррекционная общеобразовательная школа                  Опубликован
..   ...                                      ...                          ...
418  411                                  Хосписы  Изъят из публичного доступа
419  414                                   Театры  Изъят из публичного доступа
420  417                                   Аптеки  Изъят из публичного доступа
421  420                                    Музеи  Изъят из публичного доступа
422  423                                     Кафе  Изъят из публичного доступа

[423 rows x 3 columns]

In [17]:
#поздапрос на сумму наборов в статусе архвирован и изъят 
query_sql('shumskiiin.db', '''SELECT COUNT(dataSet.id)
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              WHERE
                              actionList.action IN ('Архивирован', 'Изъят из публичного доступа');
                          '''
         )

   COUNT(dataSet.id)
0                282

In [2]:
#поздапрос на сумму наборов в статусе архвирован и изъят 
query_sql('shumskiiin.db', '''SELECT authority.id, authority.name, COUNT(dataSet.id) as "Total irrelevant"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              LEFT JOIN authority
                              ON worker.authorityID = authority.id
                              WHERE
                              actionList.action IN ('Архивирован', 'Изъят из публичного доступа')
                              GROUP BY authority.id, authority.name;
                          '''
         )

      id                                               name Total irrelevant
0      1                            управа Нагорного района                1
1      2                            управа района Печатники                2
2      3                              управа района Капотня                3
3      4                           управа района Сокольники                1
4      5                       управа района Филевский парк                3
..   ...                                                ...              ...
112  117                             управа района Отрадное                1
113  118  Государственная инспекция по контролю за испол...                2
114  119  префектура Юго-Западного административного округа                1
115  120                               управа района Щукино                3
116  121              Департамент развития новых территорий                2

[117 rows x 3 columns]

In [5]:
#поздапрос на сумму наборов в статусе архвирован и изъят 
query_sql('shumskiiin.db', '''SELECT authority.id, authority.name, COUNT(dataSet.id) as "Total dataSet"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              LEFT JOIN authority
                              ON worker.authorityID = authority.id
                              GROUP BY authority.id, authority.name;
                          '''
         )

      id                                               name Total dataSet
0      1                            управа Нагорного района             4
1      2                            управа района Печатники             4
2      3                              управа района Капотня             4
3      4                           управа района Сокольники             4
4      5                       управа района Филевский парк             4
..   ...                                                ...           ...
116  117                             управа района Отрадное             4
117  118  Государственная инспекция по контролю за испол...             3
118  119  префектура Юго-Западного административного округа             3
119  120                               управа района Щукино             3
120  121              Департамент развития новых территорий             3

[121 rows x 3 columns]

In [4]:
query_sql('shumskiiin.db', '''SELECT a.name, 1.0 *`Total irrelevant` / `Total dataSet` as 'Отношение'
                            FROM
                            (SELECT authority.id, authority.name, COUNT(dataSet.id) as "Total irrelevant"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              LEFT JOIN authority
                              ON worker.authorityID = authority.id
                              WHERE
                              actionList.action IN ('Архивирован', 'Изъят из публичного доступа')
                              GROUP BY authority.id, authority.name) a,
                            (SELECT authority.id, authority.name, COUNT(dataSet.id) as "Total dataSet"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              LEFT JOIN authority
                              ON worker.authorityID = authority.id
                              GROUP BY authority.id, authority.name) b 
                             WHERE a.id = b.id;
                          '''
         )

                                                  name           Отношение
0                              управа Нагорного района                0.25
1                              управа района Печатники                 0.5
2                                управа района Капотня                0.75
3                             управа района Сокольники                0.25
4                         управа района Филевский парк                0.75
..                                                 ...                 ...
112                             управа района Отрадное                0.25
113  Государственная инспекция по контролю за испол...  0.6666666666666666
114  префектура Юго-Западного административного округа  0.3333333333333333
115                               управа района Щукино                 1.0
116              Департамент развития новых территорий  0.6666666666666666

[117 rows x 2 columns]

In [7]:
query_sql('shumskiiin.db', '''SELECT worker.id, worker.lastName, worker.firstName, worker.middleName, COUNT(dataSet.id) as "Total irrelevant"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              WHERE
                              actionList.action IN ('Архивирован', 'Изъят из публичного доступа')
                              GROUP BY worker.id, worker.lastName, worker.firstName, worker.middleName
                          '''
         )

      id    lastName  firstName    middleName Total irrelevant
0      1    Лазарева       Вера  Вячеславовна                3
1      2     Комаров     Матвей      Егорович                3
2      3   Кузнецова    Варвара    Алексеевна                4
3      4   Агафонова       Юлия     Мироновна                1
4      5     Лебедев        Лев      Глебович                3
..   ...         ...        ...           ...              ...
112  117    Воронцов  Александр    Дмитриевич                1
113  118  Евдокимова    Камилла      Леоновна                2
114  119      Титова      Софья     Матвеевна                3
115  120     Козлова       Анна  Мирославовна                3
116  121      Львова      Алина      Марковна                3

[117 rows x 5 columns]

In [8]:
query_sql('shumskiiin.db', '''SELECT worker.id, worker.lastName, worker.firstName, worker.middleName, COUNT(dataSet.id) as "Total dataSet"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              GROUP BY worker.id, worker.lastName, worker.firstName, worker.middleName
                          '''
         )

      id    lastName  firstName    middleName Total dataSet
0      1    Лазарева       Вера  Вячеславовна             4
1      2     Комаров     Матвей      Егорович             4
2      3   Кузнецова    Варвара    Алексеевна             4
3      4   Агафонова       Юлия     Мироновна             4
4      5     Лебедев        Лев      Глебович             4
..   ...         ...        ...           ...           ...
116  117    Воронцов  Александр    Дмитриевич             3
117  118  Евдокимова    Камилла      Леоновна             3
118  119      Титова      Софья     Матвеевна             3
119  120     Козлова       Анна  Мирославовна             3
120  121      Львова      Алина      Марковна             3

[121 rows x 5 columns]

In [12]:
query_sql('shumskiiin.db', '''SELECT a.lastName, a.firstName, a.middleName, 1.0 * `Total irrelevant` / `Total dataSet` as 'Отношение'
                            FROM
                            (SELECT worker.id, worker.lastName, worker.firstName, worker.middleName, COUNT(dataSet.id) as "Total irrelevant"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              WHERE
                              actionList.action IN ('Архивирован', 'Изъят из публичного доступа')
                              GROUP BY worker.id, worker.lastName, worker.firstName, worker.middleName) a,
                            (SELECT worker.id, worker.lastName, worker.firstName, worker.middleName, COUNT(dataSet.id) as "Total dataSet"
                              FROM actionList
                              LEFT JOIN log 
                              ON log.actionID = actionList.id
                              LEFT JOIN dataSet
                              ON dataSet.id = log.dataSetID
                              LEFT JOIN worker
                              ON log.workerID = worker.ID
                              GROUP BY worker.id, worker.lastName, worker.firstName, worker.middleName) b 
                             WHERE a.id = b.id;
                          '''
         )

       lastName  firstName    middleName           Отношение
0      Лазарева       Вера  Вячеславовна                0.75
1       Комаров     Матвей      Егорович                0.75
2     Кузнецова    Варвара    Алексеевна                 1.0
3     Агафонова       Юлия     Мироновна                0.25
4       Лебедев        Лев      Глебович                0.75
..          ...        ...           ...                 ...
112    Воронцов  Александр    Дмитриевич  0.3333333333333333
113  Евдокимова    Камилла      Леоновна  0.6666666666666666
114      Титова      Софья     Матвеевна                 1.0
115     Козлова       Анна  Мирославовна                 1.0
116      Львова      Алина      Марковна                 1.0

[117 rows x 4 columns]