In [1]:
import sqlite3 # импортируем библиотеку по работе с базой данных
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db') #создаем переменную подключения к БД
    cursor = sqlite_connection.cursor() #создаем специальную переменную по работе с БД
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "SELECT sqlite_version();" #пишем запрос получение версии библиотеки sqlite 
    cursor.execute(sqlite_select_query) #выполняем запрос, после чего в буфере содержится текст результата
    record = cursor.fetchall() #читаем все содержимое буфера в переменную record
    print("Версия базы данных SQLite: ", record)
    cursor.close() #закрываем курсор по работе с БД

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error) # если при попытке подключения к БД возникли ошибки, выводим их
finally:
    if (sqlite_connection):
        sqlite_connection.close() #если соединение с БД открыто, закрываем его
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.43.1',)]
Соединение с SQLite закрыто

In [2]:
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
# Создаем sql-запросы на создание таблиц, записываем для удобства их в переменные с одноименным названием
    periodList = 'CREATE TABLE periodList (id INTEGER PRIMARY KEY NOT NULL, period VARCHAR(30) NOT NULL);'
    categoryList = 'CREATE TABLE categoryList (id INTEGER PRIMARY KEY NOT NULL, category VARCHAR(30) NOT NULL);'
    actionList = 'CREATE TABLE actionList (id INTEGER PRIMARY KEY NOT NULL, action VARCHAR(30) NOT NULL);'
    keywordList = 'CREATE TABLE keywordList (id INTEGER PRIMARY KEY NOT NULL, keyword VARCHAR(30) NOT NULL);'
    
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(periodList)
    sqlite_connection.commit()
    print("Таблица periodList создана")

    cursor.execute(categoryList)
    sqlite_connection.commit()
    print("Таблица categoryList создана")

    cursor.execute(actionList)
    sqlite_connection.commit()
    print("Таблица actionList создана")
    
    cursor.execute(keywordList)
    sqlite_connection.commit()
    print("Таблица keywordList создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица periodList создана
Таблица categoryList создана
Таблица actionList создана
Таблица keywordList создана
Соединение с SQLite закрыто

In [3]:
# Заполнение таблицы periodList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_periodList = '''INSERT INTO periodList (id, period) VALUES
                        (1, 'Ежемесячно'),
                        (2, 'Ежеквартально'),
                        (3, 'Ежегодно');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_periodList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [4]:
# Заполнение таблицы periodList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_categoryList = '''INSERT INTO categoryList (id, category) VALUES
                        (1, 'Активный гражданин'),
                        (2, 'Выборы'),
                        (3, 'Дороги и транспорт'),
                        (4, 'Жилищно-коммунальное хозяйство'),
                        (5, 'Здравоохранение'),
                        (6, 'Культура'),
                        (7, 'Общественное питание'),
                        (8, 'Пешеходная инфраструктура'),
                        (9, 'Религиозные объекты'),
                        (10, 'Социальная среда'),
                        (11, 'Строительство'),
                        (12, 'Торговля'),
                        (13, 'Безопасность'),
                        (14, 'Государственные услуги'),
                        (15, 'Досуг и отдых'),
                        (16, 'Забота о животных'),
                        (17, 'Земля и имущество'),
                        (18, 'Образование'),
                        (19, 'Органы государственной власти'),
                        (20, 'Предпринимательство'),
                        (21, 'Связь'),
                        (22, 'Справочная информация'),
                        (23, 'Территориальное деление'),
                        (24, 'Трудоустройство');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_categoryList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [5]:
# Заполнение таблицы periodList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_actionList = '''INSERT INTO actionList (id, action) VALUES
                        (1, 'Опубликован'),
                        (2, 'Архивирован'),
                        (3, 'Изъят из публичного доступа');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_actionList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [6]:
# Заполнение таблицы keywordList
import sqlite3
try:
    sqlite_connection = sqlite3.connect('shumskiiIN.db')
    filling_keywordList = '''INSERT INTO keywordList (id, keyword) VALUES
                        (1, 'Зимние'),
                        (2, 'Летние'),
                        (3, 'Всесезонные');
                      '''
    cursor = sqlite_connection.cursor()
    cursor.execute(filling_keywordList)
    sqlite_connection.commit()
    cursor.close()
except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Соединение с SQLite закрыто

In [7]:
#Функция реализует запрос на чтение к базе данных
def query_sql (db, query):
  sqlite_connection = sqlite3.connect(db)
  cursor = sqlite_connection.cursor()
  cursor.execute(query)
  sqlite_connection.commit()
  rows = cursor.fetchall()
  names = tuple(map(lambda x: x[0], cursor.description))
  cursor.close()
  sqlite_connection.close()
  import pandas as pd
  import numpy as np
  aa=np.array(rows)
  dd=pd.DataFrame(aa, columns=names)
  display(dd)

In [8]:
query_sql('shumskiiIN.db','SELECT * FROM periodList;')
query_sql('shumskiiIN.db','SELECT * FROM actionList;')
query_sql('shumskiiIN.db','SELECT * FROM categoryList;')
query_sql('shumskiiIN.db','SELECT * FROM keywordList;')

  id         period
0  1     Ежемесячно
1  2  Ежеквартально
2  3       Ежегодно

  id                       action
0  1                  Опубликован
1  2                  Архивирован
2  3  Изъят из публичного доступа

    id                        category
0    1              Активный гражданин
1    2                          Выборы
2    3              Дороги и транспорт
3    4  Жилищно-коммунальное хозяйство
4    5                 Здравоохранение
5    6                        Культура
6    7            Общественное питание
7    8       Пешеходная инфраструктура
8    9             Религиозные объекты
9   10                Социальная среда
10  11                   Строительство
11  12                        Торговля
12  13                    Безопасность
13  14          Государственные услуги
14  15                   Досуг и отдых
15  16               Забота о животных
16  17               Земля и имущество
17  18                     Образование
18  19   Органы государственной власти
19  20             Предпринимательство
20  21                           Связь
21  22           Справочная информация
22  23         Территориальное деление
23  24                 Трудоустройство

  id      keyword
0  1       Зимние
1  2       Летние
2  3  Всесезонные

In [9]:
#обработчик событий
def query_sql (db, query, visible = True):
  import sqlite3
  sqlite_connection = sqlite3.connect(db)
  cursor = sqlite_connection.cursor()
  cursor.execute(query)
  sqlite_connection.commit()
  if visible:
    rows = cursor.fetchall()
    names = tuple(map(lambda x: x[0], cursor.description))
    import pandas as pd
    import numpy as np
    aa=np.array(rows)
    dd=pd.DataFrame(aa, columns=names)
    return dd
  cursor.close()
  sqlite_connection.close()

In [10]:
#Посмотреть список всех таблиц в базе данных
query_sql('shumskiiIN.db','SELECT name FROM sqlite_master WHERE type=\'table\';')

           name
0    periodList
1  categoryList
2    actionList
3   keywordList

# Создание основных таблиц

In [11]:
#создание таблицы authority
query_sql('shumskiiIN.db','''
    CREATE TABLE authority (id INTEGER PRIMARY KEY NOT NULL, 
                            name VARCHAR(50) NOT NULL,
                            shortName VARCHAR(30),
                            firstName VARCHAR(15) NOT NULL,
                            lastName VARCHAR(15) NOT NULL,
                            middleName VARCHAR(20), 
                            email VARCHAR(30) NOT NULL,
                            tel INTEGER NOT NULL,
                            domain VARCHAR(30) NOT NULL,
                            street VARCHAR(30) NOT NULL,
                            home INTEGER NOT NULL,
                            block INTEGER,
                            INN INTEGER NOT NULL,
                            KPP INTEGER NOT NULL,
                            OKOGU INTEGER NOT NULL);
                            
            ''', False)

In [12]:
#создание табдицы worker
query_sql('shumskiiIN.db','''
    CREATE TABLE worker (id INTEGER PRIMARY KEY NOT NULL, 
                         firstName VARCHAR(15) NOT NULL,
                         lastName VARCHAR(15) NOT NULL,
                         middleName VARCHAR(20), 
                         dateВirth VARCHAR(10) NOT NULL,
                         position VARCHAR(30) NOT NULL,
                         email VARCHAR(30) NOT NULL,
                         tel INTEGER NOT NULL,
                         placeID INTEGER NOT NULL REFERENCES authority (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION);
                                                      
            ''', False)

In [13]:
#создание таблицы log
query_sql('shumskiiIN.db','''
    CREATE TABLE log (id INTEGER PRIMARY KEY NOT NULL, 
                      action INTEGER NOT NULL REFERENCES actionList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION,
                      date VARCHAR(10) NOT NULL,
                      user INTEGER NOT NULL REFERENCES worker (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION,
                      GIS INTEGER NOT NULL,
                      dataSet INTEGER NOT NULL REFERENCES dataSet (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION, 
                      urlXLSX VARCHAR(80),
                      urlJSON VARCHAR(80),
                      urlCSV VARCHAR(80),
                      urlXML VARCHAR(80));
            ''', False)

In [14]:
#создание таблицы dataSet
query_sql('shumskiiIN.db','''
    CREATE TABLE dataSet (id INTEGER PRIMARY KEY NOT NULL, 
                         keyword INTEGER NOT NULL REFERENCES keywordList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION,
                         name VARCHAR(40) NOT NULL,
                         categoryID INTEGER NOT NULL REFERENCES categoryList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION, 
                         rating REAL NOT NULL,
                         downloadCounter INTEGER NOT NULL,
                         updatePeriod INTEGER NOT NULL REFERENCES periodList (id)
                         ON DELETE NO ACTION ON UPDATE NO ACTION);
          ''', False)

In [15]:
#Посмотреть список всех таблиц в базе данных
query_sql('shumskiiIN.db','SELECT name FROM sqlite_master WHERE type=\'table\';')

           name
0    periodList
1  categoryList
2    actionList
3   keywordList
4     authority
5        worker
6           log
7       dataSet

In [16]:
from ipywidgets import widgets
from IPython.display import clear_output
style = {'description_width': 'initial'}
list_tables_button = widgets.Button(description="Cписок таблиц", style = style)

output = widgets.Output()
print('Заполнение списка таблиц БД')
display(list_tables_button,output)

def on_list_button_clicked(b):
    with output:
        clear_output()
        display(query_sql('shumskiiIN.db','SELECT name FROM sqlite_master WHERE type=\'table\';'))
    
list_tables_button.on_click(on_list_button_clicked)

Заполнение списка таблиц БД

Button(description='Cписок таблиц', style=ButtonStyle())

Output()

# Создание экранных форм

In [18]:
import ipywidgets as widgets #Подключаем библиотеку виджетов
from IPython.display import display # импортируем функцию для визуализации виджетов

style = {'description_width': 'initial'} #Делаем установку ширины поля discription под размер текста в нем
id = widgets.IntText(value=1, description='id:', disabled=False)
name = widgets.Text(value='Название ОИВ', description='Наименование:', disabled=False)
shortName = widgets.Text(value='Сокращенное название', description='Сокращенное наименование:', disabled=False)
lastName = widgets.Text(value='Иванов', description='Фамилия:', disabled=False)
firstName = widgets.Text(value='Иван', description='Имя:', disabled=False)
middleName = widgets.Text(value='Иванович', description='Отчество:', disabled=False)
email = widgets.Text(value='sample@mos.ru', description='E-mail:', disabled=False)
tel = widgets.IntText(value=79123456789, description='Номер телефона:', disabled=False, style=style)
domain = widgets.Text(value='mos.ru', description='Домен:', disabled=False)
street = widgets.Text(value='Тверская', description='Улица:', disabled=False)
home = widgets.IntText(value=13, description='Номер дома:', disabled=False, style=style)
block = widgets.IntText(value=1, description='Строение/корпус:', disabled=False, style=style)
INN = widgets.IntText(value=770000000000, description='ИНН:', disabled=False)
KPP = widgets.IntText(value=770000000, description='КПП:', disabled=False)
OKOGU = widgets.IntText(value=770000000, description='КПП:', disabled=False)
button = widgets.Button(description='Записать в  БД', disabled=False, button_style='')
print('Заполнение таблицы authority')
display(id, name, shortName, lastName, firstName, middleName, email, tel, domain, street, home, block, INN, KPP, OKOGU, button)

def button_clicked(b):
    query = 'INSERT INTO authority (id, name, shortName, lastName, firstName, middleName, email, tel, domain, street, home, block, INN, KPP, OKOGU) VALUES '
    query += '(' + str(id.value) + ',' + '\''+ name.value + '\'' + ',' + '\''+ shortName.value + '\'' + ','
    query += '\''+ lastName.value + '\'' + ',' + '\''+ firstName.value + '\'' + ','
    query += '\'' + middleName.value + '\'' + ',' + '\''+ email.value + '\'' + ',' + str(tel.value) + ','
    query += '\'' + domain.value + '\'' + ',' + '\''+ street.value + '\'' + ',' + str(home.value) + ','
    query += str(block.value) + ',' + str(INN.value) + ',' + str(KPP.value) + ',' + str(OKOGU.value) + ');'
    print(query_sql)
    query_sql('shumskiiIN.db', query, False)
    
    
button.on_click(button_clicked)

Заполнение таблицы authority

IntText(value=1, description='id:')

Text(value='Название ОИВ', description='Наименование:')

Text(value='Сокращенное название', description='Сокращенное наименование:')

Text(value='Иванов', description='Фамилия:')

Text(value='Иван', description='Имя:')

Text(value='Иванович', description='Отчество:')

Text(value='sample@mos.ru', description='E-mail:')

IntText(value=79123456789, description='Номер телефона:', style=DescriptionStyle(description_width='initial'))

Text(value='mos.ru', description='Домен:')

Text(value='Тверская', description='Улица:')

IntText(value=13, description='Номер дома:', style=DescriptionStyle(description_width='initial'))

IntText(value=1, description='Строение/корпус:', style=DescriptionStyle(description_width='initial'))

IntText(value=770000000000, description='ИНН:')

IntText(value=770000000, description='КПП:')

IntText(value=770000000, description='КПП:')

Button(description='Записать в  БД', style=ButtonStyle())